/*禁用滚动条的样式*/
body {
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}
ul,ol {
    list-style-type: none;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
#canvas {
    display: block;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
}
.actions {
	position: fixed;
	left: 0;
    top: 0;
    padding:20px 20px;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 .actions svg {
     width: 25px;
     height: 25px;
     transition: all 0.5s;
    margin: 0px 10px;
 }
 .actions svg.active {
     fill: #ff0000;
     transform: scale(1.2);
 }
.colors {
    position: fixed;
    left: 0;
    top: 60px;
}
.colors > ol > li {
    width: 20px;
    height: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    margin: 20px 20px;
    transition: all 0.3s;
}
.colors > ol > li.red {
    background: red;
}
.colors > ol > li.green {
    background: green;
}
.colors > ol > li.black {
    background: black;
}
.colors > ol > li.grey {
    background: grey;
}
.colors > ol > li.blue {
    background: blue;
}
.colors > ol > li.yellow {
    background: yellow;
}
.colors > ol > li.orange {
    background: orange;
}
.colors > ol > li.active {
    transform: scale(1.2);
}
.sizes {
    position: fixed;
	right: 0;
    top: 0;
    padding:20px 15px;
}
.sizes > ol > li {
    float: left;
}
.sizes > ol > li.thin {
    width: 20px;
    height: 0;
    border-top: 2px solid #000;
    margin: 10px 10px;
}
.sizes > ol > li.thick {
    width: 20px;
    height: 0;
    border-top: 5px solid #000;
    margin: 8px 10px;
}