* {
	margin: 0;
}
#canvas {
	display: block;
	background: green;
}
#actions {
	position: fixed;
	left: 0;
    top: 0;
    padding: 10px 20px;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

