* {
	margin: 0;
}
#canvas {
	display: block;
	background: green;
}
.actions {
	position: fixed;
	left: 0;
    top: 0;
    padding:20px 20px;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 .actions svg {
     width: 30px;
     height: 30px;
     transition: all 0.3s;

 }
 .actions svg.active {
     fill: #ff0000;
     transform: scale(1.2);
 }

